<li>
	
{{#if devoured}}
{{burger_name}}
    {{else}}
    	<button class="change-state eat-button" data-id="{{id}}" data-newstate="true">
		<div class="text">{{burger_name}}</div>
	</button>
    {{/if}}
		{{!-- <button class="delete" data-id="{{id}}">
		Delete!
	</button> --}}
</li>
